body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.buttons-area {
    margin-top: 20px;
}

.buttons-area::after {
    clear: both;
}

.buttons-area a {
    cursor: pointer;
}

.state-area {
    float: left;
}

.buttons {
    float: right;
}

@media (max-width: 460px) {
    .buttons {
        float: left;
        margin-top: 10px;
    }
}

.state-running, .state-stopped {
    font-weight: bold;
    margin-right: 10px;
}

.state-running {
    color: #128810;
}

.state-stopped {
    color: #9a1b1b;
}

.photos {
    margin-top: 20px;
}

.photo {
    float: left;
}

.photo img {
    width: 200px;
    margin: 5px;
}

.form-control {
    max-width: 200px;
    margin-bottom: 20px;
}