body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.buttons {
    margin-top: 20px;
}

.photos {
    margin-top: 20px;
}

.photo {
    float: left;
}

.photo img {
    width: 200px;
    margin: 5px;
}

.form-control {
    max-width: 200px;
    margin-bottom: 20px;
}