<div>
    <h1>Photo Gallery</h1>
    
    <div class="row buttons-area">
        <div class="state-area">
            <span>Timelapse: </span>
            <span ng-class="isTimelapseRunning ? 'state-running' : 'state-stopped'">{{ timelapseState }}</span>
            <span> | </span>

            <a ng-click="startOrStopTimeplase()">{{ startStopButtonText }}</a>
        </div>
        
        <div class="buttons">
            <button type="button" ng-click="refresh()">Refresh</button>
            <button type="button" ng-click="takePhoto()">Take a photo</button>
        </div>
    </div>
    
    <div class="row photos">
        <div ng-repeat="img in photos" class="photo">
            <a href="{{ img.url }}" target="_blank"><img ng-src=" {{ img.url }} " title=" {{ img.name }} " /></a>
        </div>
    </div>

</div>