<!DOCTYPE html>
<html>
<head>
    <title>Time Line Monitor</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="/assets/styles/site.css">

</head>

<body>
    <div ng-app="tlm">
        <section role="main" class="main container" ui-view="main"></section>
    </div>
    
    <script src="/vendor/angular/angular.js"></script>
    <script src="/vendor/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/vendor/angular-fontawesome/dist/angular-fontawesome.js"></script>
    <script src="/vendor/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/vendor/angular-socket-io/socket.js"></script>
    
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>

    <script src="/assets/js/app.js"></script>
    <script src="/assets/js/homeController.js"></script>
</body>
</html>
