<div>
    <h1>Settings</h1>
    
    <div class="row">
        <span>Time interval between photos in [s] (min. 60):</span>
        <input class="form-control" type="text" placeholder="interval" ng-model="settings.timeLapseInterval" />
    </div>
    
    <div class="row">
        <span>Number of photos to show (max. 50):</span>
        <input class="form-control" type="text" placeholder="interval" ng-model="settings.numberOfPhotos" />
    </div>
    
    <div class="row">
        <button class="col-sm-1" type="button" ng-click="save()">
            Save
        </button>
    </div>
</div>